.topbarr{
    background-color: rgba(0,0,0,0);
    z-index: 100 !important;
    position: relative !important;
    pointer-events: auto !important;
  touch-action: auto !important;
  
}

.headline {
    font-size: xx-large;
}
.alignment{
    display: flex;
    align-items: center;
}

.activeStyle{
    border-bottom: 3px solid white;
}

.activeStylee{
    font-weight: bold;
    letter-spacing: 3px;
}

@media only screen and (max-width: 770px) {
    /* .topbarr{
        flex-direction: row-reverse;
    } */
    /* .mobile-navElem{
        padding: 1rem;
        flex-direction: row-reverse;
    }
    .mobile-navElem .headline{
        display: none;
    } */
    .alignment{
        display: none;
    }
    .headline{
        font-size: larger !important;
    }
    .type-text{
        font-size: smaller;
    }
  }